[Unit]
Description=Speaker Selector. See https://github.com/kudolab/speaker_selecter

[Service]
User=root
ExecStart=/home/pi/speaker_selecter/ver3/venv/bin/python3 /home/pi/speaker_selecter/ver3/app.py
Restart=always

[Install]
Alias=sperker_selecter
WantedBy=multi-user.target

